@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');



:root {
    --color-background: #ffffff;
    --color-primary: #000000;
    --color-primary-light: #3a3a3a;
    --color-secondary: #000000;
    --color-text: #ffffff;
    --color-text-light: #000000;
    --color-white: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    background-image: url('/static/icon/batman_wallpaper.jpg');
    color: var(--color-text);
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 2vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 180vh;
    margin: 5vh auto;
    padding: 2vh;
    border-radius: 6vh;
    backdrop-filter: blur(1.1vh);
    -webkit-backdrop-filter: blur(2vh);
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-size: 4.9rem;
    color: rgb(255, 255, 255);
    margin-bottom: -1vh;
    font-family: "Castoro Titling", serif;
    animation: slide-in 0.7s ease-out forwards;
    text-decoration: underline;
    text-decoration-thickness: 0.1vh;
    text-underline-offset: 1vh;
    font-weight: bold;
}

.movie-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    font-size: 2vh;
}

input, select, button {
    padding: 2vh;
    font-size: 1rem;
    width: 100%;
    max-width: 80vh;
    border: 0.6vh solid #ffffff;
    border-radius: 1vh;
    margin: 3vh 0;
    transition: border-color 0.3s, transform 0.3s;
    font-family: "Castoro Titling", serif;
}

button {
    background-color: rgb(44, 0, 0);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-weight: 500;
}

button:hover {
    background-color: rgb(49, 15, 15);
    transform: scale(1.05);
}

.movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 4vh;
    margin-top: 5vh;
    justify-items: center;  
    animation: fade-in 1s ease-in;
    grid-auto-rows: 1fr; 
}


.movie {
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    box-shadow: 0 0.7vh 1.5vh var(--color-shadow);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie:hover {
    transform: translateY(-1vh);
    box-shadow: 0 0.2vh 3vh var(--color-shadow);
}


.movie img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    border-radius: 1.7vh 1.5vh 0 0;
}

.movie h2 {
    font-size: 3vh;
    font-weight: 500;
    color: rgb(58, 0, 0);
    margin: 2vh 0;
    padding-left: 2vh;
    font-family: "Castoro Titling", serif;
    text-align: center;
    text-shadow: -0.2vh 0.8vh 0vh rgba(0, 0, 0, 0.21);
}


.movie p {
    font-size: 0.9rem;
    color: rgb(58, 0, 0);
    margin: 0 3vh 2vh;
}
.movie a {
    font-size: 1rem;
    color: rgb(1, 18, 255);
    text-decoration: none;
    margin: 3vh;
    font-weight: 500;
    transition: color 0.3s;
}


.movie a:hover {
    color: rgb(51, 255, 0);
}

.page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.page-links a {
    padding: 1vh 3vh;
    background-color: var(--color-primary);
    color:rgb(53, 53, 53);
    font-weight: 500;
    border-radius: 1.2vh;
    margin: 0 2vh;
    font-size: 1rem;
    transition: background-color 0.3s;
    text-decoration: none;
}

.page-links a:hover {
    background-color: rgb(41, 0, 0);
}

.page-links a.active {
    background-color: var(--color-primary-light);
    pointer-events: none;
}

.empty {
    background-color: transparent;
    border: 0.5vh dashed #ddd;
    height: 160vh;
    border-radius: 2vh;
    visibility: hidden;
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.back-btn {
    position: fixed;
    top: 1vh;
    left: 1vh;
    background-color: rgb(255, 255, 255);
    color: rgb(58, 0, 0);
    padding: 1vh 2.6vh;
    border-radius: 1vh;
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 1000;
    font-family: "Castoro Titling", serif;
}

.back-btn:hover {
    background-color: rgb(24, 0, 0);
    transform: scale(1.05);
}

.search-bar {
    position: fixed;
    top: -9vh;
    right: -16.2vh;
    display: flex;
    align-items: center;
    padding: 0.8vh 1.5vh;
    border-radius: 3vh;
    z-index: 1000;
    width: auto;
    max-width: 30vw;
    transition: all 0.3s ease;
    font-family: "Castoro Titling", serif;
}

.search-bar input {
    border: none;
    padding: 0vh;
    font-size: 1.3rem;
    color: #000000;
    background: transparent;
    border-radius: 2vh;
    width: 20vw;
    transition: width 0.3s ease;
    font-family: "Castoro Titling", serif;
    outline: none;
}

.search-bar button {
    background-color: #180000;
    color: white;
    border: none;
    padding: 0.8vh 3vh;
    margin-left: 1vh;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s, transform 0.2s;
}

.search-bar button:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.search-bar input:focus {
    width: 25vw;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .search-bar {
        width: auto;
        max-width: 50vw;
    }

    .search-bar input {
        width: 50vw;
    }
}


.header-buttons {
    text-align: center;
    margin-top: 2vh;
}

.sobre-btn {
    background-color: rgb(44, 0, 0);
    color: var(--color-white);
    padding: 1.1vh 5vh;
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: 1.6vh;
    font-family: "Castoro Titling", serif;
    transition: background-color 0.3s, transform 0.3s;
}

.sobre-btn:hover {
    background-color: rgb(17, 0, 0);
    transform: scale(2.05);
}






@media screen and (max-width: 768px) {
    .movies {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 480px) {
    .movies {
        grid-template-columns: 1fr; 
    }
}

.favorite-star {
    color: rgb(85, 49, 49); 
    cursor: pointer; 
}

ul.flashes {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

ul.flashes li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

ul.flashes li.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

ul.flashes li.info {
  background-color: #bee5eb;
  color: #0c5460;
  border: 1px solid #b1d8e1;
}

ul.flashes li.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

ul.flashes li.danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}